.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #f0f4f8;
  color:Black;
  text-align: center;
  padding-top: 80px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.3);
  object-fit: cover;
  
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.highlight {
  color: #030303ff;
}

.hero-subtitle {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: rgba(246, 245, 245, 1);
  border-radius: 50%;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.social-links a:hover {
  background: rgba(133, 36, 36, 0.2);
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons .btn {
    width: 200px;
  }
}
